* {
  padding: 10px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
}

main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

#header{
  color: white;
  background-color: rgb(0, 0, 255);
  font-weight: bold;
  display: flex;
}

/*To be changed later --*/

#header p{
  width: 50%;
  padding-left: 50px;
}

#header form{
  width: 50%;
  padding-top: 10px;
}

/*--------------------*/

#body{
  display: flex;
  flex-direction: row;
}

#main-col-div{
  flex: 1;
}

#side-col-div{
  flex:1;
}

#side-col-end-div{
  flex: 1;
}

#footer{
  color: white;
}

#admin-div{
  display: flex;
  flex-direction: column;
  background-color: red;
  border-radius: 50px;
  color: white;
}

#admin-div p{
  margin: 10px 20px 10px 20px;
  border: white solid 1px;
  text-align: center;
}

#admin-div button{
  margin: 1px 50px 10px 50px;
  padding: 5px;
  color: black;
} 

#main-col-choice-box{
  background-color: white;
}

#main-col-choice-box form{
  display: flex;
  flex-direction: column;
}

#main-col-forum-box{
  background-color: lightblue;
  overflow:scroll;
}

#side-col-end-topic{
  background-color: aqua;
}

#side-col-end-recent{
  background-color: rgb(233, 52, 67);
}

#side-col-end-user{
  background-color: purple;
}

.side-col-end h1{
  border: 1px solid white;
}

.side-col-end table thead td{
  background-color: blue;
}

.side-col-end table td{
  margin: 10px;
}

