@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");
:root {
    --bg-primary: rgb(20, 20, 20);
    --bg-secondary: rgb(35, 35, 35);
    --accent-color: darkorange;
}

* {
    font-family: Roboto, sans-serif;
    outline: none;
    user-select: none;
}

html {
    background-color: var(--bg-secondary);
}

body,
p {
    margin: 0;
}

input {
    flex: 3;
    background-color: var(--bg-secondary);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}


fieldset {
    display: flex;
    flex-direction: column;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    gap: 20px;
    padding: 20px;
}

legend {
    font-size: 20px;
    font-weight: 700;
    padding: 0;
}

button {
    color: var(--accent-color);
    background-color: var(--bg-primary);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 250ms ease-in-out;
}

button:hover {
    background-color: var(--accent-color);
    color: var(--bg-secondary);
}

table {
    width: 100%;
    border-radius: 5px;
    background-color: var(--bg-secondary);
}

thead {
    background-color: var(--bg-primary);
    text-align: center;
    font-weight: 500;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0);
}

td {
    background-color: var(--bg-primary);
    padding: 5px;
}

#root {
    margin: 30px;
}

#header,
#body,
#footer {
    display: flex;
    color: var(--accent-color);
    background: rgb(20, 20, 20);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0);
    margin-bottom: 15px;
}

#footer {
    justify-content: space-between;
}

#header p {
    flex: 1;
    margin: 0;
    font-size: 35px;
    font-weight: 900;
}

#footer p {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

#footer div {
    display: flex;
    align-items: center;
    gap: 5px;
}

#react {
    font-size: 24px;
    animation: spin 4s linear infinite;
}

#left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
    gap: 15px;
}

#middle-column {
    flex: 3;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    padding: 10px;
    border-radius: 5px;
    margin: 0 15px 0;
    height: fit-content;
    gap: 15px;
}

#right-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
    gap: 15px;
}

#topic-stats,
#recent-posts,
#user-stats {
    overflow: auto;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    height: 200px; /* this allows it to become scrollable (overflow auto) */
}

#choice-box form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

#choice-box form div {
    display: flex;
    align-items: center;
}

#choice-box label {
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

#choice-box select {
    flex: 3;
    background-color: var(--bg-secondary);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}

#forum-box {
    overflow: auto;
    height: 530px; /* this allows it to become scrollable (overflow auto) */
}

#forum-item {
    display: flex;
    flex-direction: column;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 5px;
}

#forum-item #item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-weight: 700;
    font-size: 26px;
    border-bottom: 2px solid var(--accent-color);
}

#forum-item #item-header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#forum-item #item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-weight: 700;
    font-size: 16px;
}

#icon {
    color: var(--bg-primary);
    cursor: pointer;
    transition: 250ms ease-in-out;
}

#icon:hover {
    color: var(--accent-color);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--accent-color);
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

/* rounded table, 4 corner cells cell workaround
see: https://stackoverflow.com/a/70494231/13063334 */
table tr:first-child>:first-child {
    border-top-left-radius: 5px;
}

table tr:first-child>:last-child {
    border-top-right-radius: 5px;
}

table tr:last-child>:first-child {
    border-bottom-left-radius: 5px;
}

table tr:last-child>:last-child {
    border-bottom-right-radius: 5px;
}

/* gap between thead and tbody, invisible content workaround
see: https://stackoverflow.com/a/9260996/13063334 */
tbody:before {
    content: "@";
    display: block;
    line-height: 5px;
    text-indent: -99999px;
}